@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham/Gotham-Book.woff2') format('woff2'),
    url('/assets/fonts/Gotham/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.model3 {
  background-image: url('../public/assets/images/model-3.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.modely {
  background-image: url('../public/assets/images/model-y.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.modelx {
  background-image: url('../public/assets/images/model-x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.models {
  background-image: url('../public/assets/images/model-s.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.solarpanels {
  background-image: url('../public/assets/images/solar-panels.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.solarroof {
  background-image: url('../public/assets/images/solar-roof.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.accessories {
  background-image: url('../public/assets/images/accessories.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.bg-blur:hover {
  background: rgba(237, 237, 237, 0.7);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
}
